html {
  box-sizing: border-box;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}

.header { 
  font-size: larger;
  border: 1px solid black;
  text-align: center;
  height: 50px;
  margin-bottom: 20px;

  /* FINAL FEATURES
    -- NO BORDER
    -- Should be visible when scrolling
    -- Slightly transparent maybe?
  */
}

/* Main section */

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-content { 
  width: 65%;

}

.filter {
  border: 1px solid red;
  
}

.content {
  border: 1px solid blue;
}

aside {
  border: 1px solid green;
  width: 30%;
}